@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-cols-auto-320 {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
  .grid-cols-auto-280 {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

:root {
  scroll-behavior: smooth;
}

.gradient {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #f8f4f1 100%);
}

body {
  background-color: #fffbf3;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #c0c0c0;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
